

*{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;


}
.container{
    color: #6a00ff;
    width: 100%;
    height: 600px; /*view port height 1vh=19.28px */
    position: relative;
}
.na{
    position: fixed;
    width: 100%;
}
.navbar{
    position: sticky;
    top: 0;
    color: #6a00ff;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 100px;
    align-items: center; /* vertically centre */
}
.logo{
    margin-top: 5px;
    font-family: 'Audiowide', sans-serif;
    width: 250px;
}
.listitem{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.link{
    color: rgb(93, 0, 255);
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
}
.link:hover{
    color: red;
}
/* ................................ */
.navbar {
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.navbar * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.navbar li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.navbar a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 25px;
}

.navbar a::before,
.navbar a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navbar a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #6a00ff;
  border-right: 3px solid #6a00ff;
  transform: translate(-100%, 50%);
}

.navbar a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #6a00ff;
  border-left: 3px solid #6a00ff;
  transform: translate(100%, -50%)
}

.navbar a:hover:before,
.navbar a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.navbar a:hover {
  color: #9900ff;
}

/* .................................. */
.title{
    color: #9900ff;
    margin-left: 8%;
    margin-top: 300px;
}
.title_h1{
    font-family: 'Audiowide', sans-serif;
    font-size: 50px;
    margin-bottom: 130px;
}
.title_p{
  font-family: 'Audiowide', sans-serif;
    color: #8732ff;
    margin-left: 8%;
    margin-top: -50px;
    font-size: x-large;
}
.title_p span{
  font-family: 'Audiowide', sans-serif;
  color: red;
  font-size: 30px;
}
.download{
    margin-top: 50px;
    margin-left: 8%;
    text-decoration: none;
    background-color: rgb(144, 0, 255);
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
}
.download:hover{
    background-color: #6a00ff;
    color: #dba5ff;
}


.images{
    width: 45%;
    position: absolute;
    right: 30px;
    bottom: 113px;
}
.images p{
    border: 1px dotted red;
    border-radius: 20px;
    padding: 10px;
    font-size: xx-large;
    position: absolute;
    height: px;
    width: 300px;
    left: 35%;
    bottom: 400px;
    color: #6700f6;

}


/* jj */
.images{
    width: 45%;
    position: absolute;
    right: 30px;
    bottom: 113px;
}
.images img{
    position: absolute;
    height: 2px;
    width:  2px;
    /* height: 240px;
    width:  240px; */
    left: 50%;
    bottom: 350px;
    transform: translateX(-50%);
    transition: bottom 1s , left 1s;
}
.image #left{
    height: 1px;
    width: 1px;
    opacity: 0;
}

.images:hover #left{
  opacity: 1;
    left: 20%;
    background-color: transparent;
    height: 700px;
    width:600px ;
    bottom: 150px;
}
.images:hover #right{
    opacity: 0;
}
/* jj */
.images:hover #left{
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-28 20:30:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}









#about{
    color: #6a00ff;
    margin: 13% 8% 0px 8%;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    
}
.heading{
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
.heading h1{

    font-size: 50px;
    font-family: "Libre Baskerville", serif;
}
.heading h2{
    font-size: 30px;
}

.about-details p {
  color: #a774ff;
  font-family: 'Edu TAS Beginner', cursive;
}
.about-details p span{
  color: #ff0000;
  font-size: larger;
  font-weight: 700;
  font-family: 'Edu TAS Beginner', cursive;
}
.about-details a{
  color: #ffffff;
  font-size: larger;
  font-weight: 700;
  font-family: 'Edu TAS Beginner', cursive;

}
.about-content{
    text-align: justify;
    font-family: 'Audiowide', sans-serif;
    font-size: 28px;
    margin-top: 50px;
    display: flex;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2rem;
    
}

.about-content button{
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: large;
  color: #6700f6;
  border: 1px inset red ;
}

#spx{
    margin-top: -65px;
    width: 400px;
    height: 500px;
    padding-left: 50px;
}



.ak {
	background: #000;
	min-height: 00px;
	
}
.hdd h3{
	color: #9900ff;
	margin-top: 10px;
}



.bnr h2 {
	font-family: "Poppins", sans-serif;
	background-color: transparent;
    margin-left: 480px;
    margin-top: -70px;
	color: #000000;
	font-size:200px ;
	position: absolute;
	transform: translate(-50%, -50%);
}

.bnr h2:nth-child(1) {
    margin-left: 480px;
    margin-top: -70px;
	color: transparent;
	-webkit-text-stroke: 2px #6a00ff;
}

.bnr h2:nth-child(2) {
	color: #8732ff;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


    
    
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
  }
  
  .skills h1 {
    font-size: 56px;
    font-weight: 700;
    color: #8732ff;
    font-family: "Libre Baskerville", serif;
  }
  
  .cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 2.5vh;
  }
  
  .skill-card {
    height: 15vw;
    width: 15vw;
    background-color: #6700f6;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
  }
  
  .skill-card:hover {
    background-color: #fec86a;
  }
  
  .skill-card img {
    border-radius: 50%;
    background-color: #ffffff;
    height: 7.5vw;
    width: 7.5vw;
    object-fit: contain;
  }
  .skill-card img:hover{
    -webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
  }
  @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }

  .skill-card h2 {
    background-color: transparent;
    font-size: 24px;
    font-weight: 400;
    color: #fbfbfb;
  } 

  /* '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */
  
.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
  }
  
  .works h1 {
    font-size: 56px;
    font-weight: 700;
    color: #8732ff;
    font-family: "Libre Baskerville", serif;
  }
  
  .cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 2vh;
  }
  
  .work-card {
    width: 25vw;
    border-radius: 30px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    transition: all ease 0.5s;
  }
  
  .work-card:hover {
    background-color: #000000;
  }
  
  .work-card img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #000000;
    height: 15vw;
    width: 24vw;
    object-fit:fill;
  }

  .work-card h2 {
    background-color: transparent;
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    margin: 0;
    opacity: 1;
}
  .work-card p  {
    background-color: transparent;
    font-size: 24px;
    font-weight: 400;
    color: #fbfbfb;
  } 

  /* iiiiii */
  .work-card {
    position: relative;
    /* ... other styles ... */
}

.work-card .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1900ff, #ff0000);
    color: #ffffff;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}

.work-card a{
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.work-card:hover .card-overlay {
  -webkit-animation: swing-in-top-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    opacity: 0.7;
    
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0.7;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0.7;
  }
}



/* ----------------------------------------------- */





/* contact */
 /* .contact {
  padding: 500px;
    background-color: #ffffff;
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
  }
  
  .contact-text h2 {
    font-size: var(--h2-font);
    margin: 18px 0;
    line-height: 1;
  }
  
  .contact-text p {
    background-color:#ffffff;
    color:#000000;
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  .list {
    margin-bottom: 2.8rem;
  }
  
  .list li {
    margin-bottom: 12px;
  }
  
  .list li a {
    display: block;
    background-color:#ffffff;
    color:#000000;
    font-size: 14px;
    transition: all 0.45s ease;
  }
  
  .list li a:hover {
    color: var(--text-color);
    transform: translateX(5px);
  }
  
  .contact-icons i {
    height: 45px;
    width: 45px;
    background-color:#ffffff;
    color:#000000;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all 0.45s ease;
  }
  
  .contact-icons i:hover {
    background-color:#ffffff;
    color:#ffffff;
  }
  
  .contact-form form input,
  form textarea {
    width: 100%;
    padding: 14px;
    background-color:#ffffff;
    color:#000000;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
 
  }
  
  .contact-form textarea {
    resize: none;
    height: 240px;
  }
  
  .contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background-color:#ffffff;
    color:#000000;
    width: 160px;
    transition: all 0.45s ease;
  }
  
  .contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
  } */
  

  .container{
    width: 99%;
    height: 630px;
  }
  .container h2{
    font-size: 54px;
    font-family: "Libre Baskerville", serif;
  }
  .container p{
    font-size: x-large;
  }


  input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #000000;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .column-1 {
    margin-left: 10px;
    display: flex;
    /* float: left; */
    width: 40%;
    margin-top: 6px;
    padding: 43px;
    height: 450px;
  }
  .column-1 img{
    border-radius: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .title_p{ 
      width: 100%;


    }



    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  